* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, textarea, input[type="submit"] {
    font-family: "Trebuchet MS", sans-serif;
}
/* Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: #003366;
    overflow: hidden;
    position: relative;
}

header h1{
    color: aliceblue;
    padding: 0.5em 1em;
    display: inline-block;
}

#myLinks {
    display: none;
    color: aliceblue;
    padding: 0.5em 1em;
}

header a:visited {
    color: aliceblue;
    text-decoration: none;
}

header a:active {
    color: aliceblue;
    text-decoration: none;
}

/* Menu button  */
.container {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Form */

form {
    padding-left: 5%;
}

textarea {
    max-width: 80%;
    width: 80%;
    height: 300px;
    padding: 8px;
}

/* Toggles */

.switch {
    position: relative;
    display: inline-block;
    width: 36.92px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
}


input:checked + .slider {
  background-color: #003366;
}

input:focus + .slider {
  box-shadow: 0 0 1px #003366;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
    display: block;
    margin: 0.5rem 0;
    position: relative;
}

.toggles {
    /*display: flex;*/
    flex-direction: column;
}

.logic_switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 30px;
}

.logic_switch p {
    padding-left: 6px;
}

input[type="submit"] {
    margin-top: 1em;
    padding: 6px;
    background-color: #003366;
    border-radius: 25px;
    color: aliceblue;
    border-color: #003366;
}

/* results */

.result_div {
    max-width: 80%;
    width: 80%;
    height: 300px;
    padding-left: 5%;
    padding-top: 3%;
    margin-left: 5%;
    margin-top: 3%;
    border-style: solid;
}

.result_div h2 {
    padding-top: 7px;
}

.result_div th, td {
    padding: 10px;
}