{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'lexicon/style.css' %}">
</head>
<body>
{% block content %}
    <header>
        <h1>Lexicon</h1>
        <div id="myLinks" style="display: none; padding: 0.5em 1em; color: aliceblue;">
            <a href="{% url 'lexicon:index' %}">Index</a>
        </div>
        <div class="container" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
    </header>
    <main>





    </main>
{% endblock %}
    <script>
    function myFunction(x) {
      x.classList.toggle("change");
      var y = document.getElementById("myLinks");
      console.log(y)
      if (y.style.display === "inline-block") {
        y.style.display = "none";
      } else {
        y.style.display = "inline-block";
        y.style.color = "aliceblue";
        y.style.padding = "0.5em 1em";
      }
    }
    </script>

</body>
</html>